.imageGalleryHeader_section {
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #cfddec;
  row-gap: .5rem;

  .imageGalleryHeader_left {
    font-weight: 600;
    display: inline-block;
    padding-left: 0.15rem;
    &:hover {
      cursor: pointer;
    }
  }
  .imageGalleryHeader_right {
    font-size: 0.875rem;
    color: #40454b;
  }
}
