.imageGallery_container {
  background-color: #ffba86;
  min-height: 100vh;
  .imageGallery_layout {
    background-color: #ffba86;
    margin-left: auto;
    margin-right: auto;
    max-width: 56rem;
    padding: 1.5rem 1rem;

    @include breakpoints(tablet) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include breakpoints(largeMobile) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .imageGallery {
      background-color: #ffffff;
      border-radius: 0.375rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.129);
      .imageBox_container {
        .imageBoxWithInput {
          padding: 1rem;
          display: grid !important;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 1rem;
          grid-auto-rows: minmax(auto, 1fr);

          @include breakpoints(tablet) {
            grid-template-columns: repeat(4, 1fr);
          }

          @include breakpoints(portraitTablet) {
            grid-template-columns: repeat(3, 1fr);
          }

          @include breakpoints(largeMobile) {
            grid-template-columns: repeat(2, 1fr);
          }

          .large_image_div {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
            position: relative;
            .large_image {
              height: 19rem !important;
              width: 100%;
              border: 1px solid #ccc;
              border-radius: 0.375rem;
              background-color: #f9fafb;
              transition: filter 0.3s ease;

              &:hover {
                filter: brightness(0.95);
                cursor: grab;
              }
            }
            .select_box {
              position: absolute;
              top: 1rem;
              left: 1rem;
              z-index: 10;
              width: 2rem;
              height: 2rem;
              background-color: #1f7ed7;
              border: 1px solid #000;
              border-radius: 0.5rem;
            }
          }

          .normal_image_div {
            grid-column: span 1 / span 1;
            height: 9rem;
            position: relative;
            .normal_image {
              height: 9rem;
              width: 100%;
              border: 1px solid #ccc;
              border-radius: 0.375rem;
              background-color: #f9fafb;
              transition: filter 0.3s ease;

              &:hover {
                filter: brightness(0.95);
                cursor: grab;
              }
            }
            .select_box {
              position: absolute;
              top: 0.5rem;
              left: 0.5rem;
              z-index: 100;
              width: 1rem;
              height: 1rem;
              background-color: #1f7ed7;
              border: 1px solid #000;
              border-radius: 0.5rem;
            }
          }
          .input_box {
            .input_box_input {
              display: none;
            }
            .input_box_label {
              padding: 0rem 1rem;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              height: 8.875rem;
              align-items: center;
              justify-content: center;

              border: 2px dashed #000;
              border-radius: 0.375rem;
              background-color: #f9fafb;

              &:hover {
                background-color: #dbe4ff;
                border-color: #568dc0;
                cursor: pointer;
                transition: background-color 0.4s ease, color 0.4s ease,
                  border-color 0.4s ease;
              }
              .label_icon {
                width: 2rem;
                height: 2rem;
              }
              .label_text {
                text-align: center;
              }
            }
          }
        }
      }

      .DragOverlay {
        max-height: 10rem;
        max-width: 10rem;
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 0.375rem;
        background-color: #f9fafb;
        transition: filter 0.3s ease;
      }
    }
  }
}
